<%= render 'form' %>

<% if @user_links.present? %>
  <h1>Recent user links</h1>
  <%= render 'recent_links', links: @user_links %>
<% end %>

<h1>Recent links</h1>
<%= render 'recent_links', links: @links %>
